[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oystermapR"]
	path = oystermapR
	url = https://github.com/trissyboats/oystermapr
